/* Основные стили */
body {
    font-family: 'Sofia Sans', 'Sofia Sans';
    background-color: #0a192f;
    background-image: url('https://zenusus.github.io/images/bird.jpg'); /* Фоновая картинка */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ccd6f6;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(17, 34, 64, 0.5); /* Прозрачность */
    backdrop-filter: blur(25px); /* Эффект блюра */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #436e96;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

a {
    color: #5676e0;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

a:hover {
    transition-delay: 0.1s;
    transform: scale(1.2);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: rgba(17, 34, 64, 0.5); 
    backdrop-filter: blur(10px); /* Эффект блюра */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
}

section h2 {
    color: #64ffda;
    border-bottom: 2px solid #64ffda;
    padding-bottom: 10px;
}

pre {
    background-color: rgba(35, 53, 84, 0.8); /* Прозрачный фон для блоков кода */
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    color: #64ffda;
    font-family: 'Sofia Sans', 'Sofia Sans', monospace;
}

footer {
    background-color: rgba(17, 34, 64, 0.8); /* Прозрачный фон для футера */
    backdrop-filter: blur(10px); /* Эффект блюра */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #64ffda;
}